.page-banner {
  position: relative;
  width: 100vw;
  height: 25vh;
  min-height: 180px;
  top: 0;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-bottom: 5vh;

  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}


.page-banner .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.page-banner h1 {
  position: relative;
  z-index: 1;
  font-size: 2.5rem;
  font-weight: 800;
}